{% extends 'baseAdmin.html.twig' %}

{% block title %}Votes{% endblock %}

{% block body %}
    <br>
    <h2>Proposed Votes</h2>
    <br>
    <table class="table table-bordered">
        <thead>
            <tr class="table-active">
                <th>Title</th>
                <th>Description</th>
                <th>For</th>
                <th>Against</th>
                <th>&nbsp&nbspMore</th>
            </tr>
        </thead>
        <tbody>
        {% for vote in votes %}
            <tr class="table-active">
                <td>{{ vote.title }}</td>
                <td>{{ vote.description }}</td>
                <td>{{ vote.up }}</td>
                <td>&nbsp&nbsp&nbsp{{ vote.Down }}</td>
                <td>
                    <a href="{{ path('vote_show', {'id': vote.id})}}"><button class="btn btn-outline-info btn-sm">{{ button_label| default ('More') }}</button></a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
