{% extends 'baseUser.html.twig' %}

{% block title %}New Contact{% endblock %}

{% block body %}
    <br>
    <h2>New Vote</h2>
    <br>
    {{ form_start(form) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>

    <div class="form-group">
        <i class=""></i> {{ form_label(form.title) }}
        {{ form_widget(form.title, {'attr': {'class': 'form-control' , 'placeholder':'Comment'}}) }}

        <small>{{ form_help(form.title) }}</small>
    </div>

    <div class="form-group">
        {{ form_label(form.description) }}
        {{ form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder':'Comment'}}) }}

        <small>{{ form_help(form.description) }}</small>

        <div class="form-error">
            {{ form_errors(form.description) }}
        </div>
    </div>




    <button class="btn btn-outline-info btn-lg">{{ button_label| default ('Submit') }}</button>
    </div>
    </div>
    {{ form_end(form) }}


{% endblock %}

