{% extends 'baseAdmin.html.twig' %}

{% block title %}Vote{% endblock %}

{% block body %}
    <br>
    <h2>Vote</h2>

    <table class="table table-bordered">
        <tbody>
            <tr class="table-active">
                <th scope="col">Title</th>
                <td>{{ vote.title }}</td>
            </tr>
            <tr class="table-active">
                <th scope="col">Description</th>
                <td>{{ vote.description }}</td>
            </tr>
            <tr class="table-active">
                <th scope="col">Up</th>
                <td>{{ vote.up }}</td>
            </tr>
            <tr class="table-active">
                <th scope="col">Down</th>
                <td>{{ vote.uown }}</td>
            </tr>
        </tbody>
    </table>
<table>
    <a href="{{ path('vote_edit', {'id':vote.id})}}"><button class="btn btn-outline-info btn-lg">{{ button_label| default ('Edit') }}</button></a>

    <a href="{{ path('vote_index')}}"><button class="btn btn-outline-info btn-lg">{{ button_label| default ('Back') }}</button></a>
</table>

{% endblock %}
