{% extends 'base.html.twig' %}

{% block title %}Vote{% endblock %}

{% block body %}
    <br>
    <h2>Vote</h2>
    <br>

    <table class="table table-bordered">
        <tbody>
        <tr class="table-active">
            <th scope="col">Title</th>
            <td scope="row">{{ vote.title }}</td>
        </tr>
        <tr class="table-active">
            <th scope="col">Description</th>
            <td>{{ vote.description }}</td>
        </tr>
        <tr class="table-active">
            <th scope="col">Up</th>
            <td>{{ vote.up }}</td>
        </tr>
        <tr class="table-active">
            <th scope="col">Down</th>
            <td>{{ vote.down }}</td>
        </tr>
        </tbody>
    </table>
    {% if vote.up > vote.down %}
        <div class="progress bg-danger">
            <div class="progress-bar bg-success" role="progressbar" style="width:{{((vote.up+2 - vote.down+1)/(vote.up+2)*100)|number_format(0,'.')}}%"
                 aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    {% elseif vote.up < vote.down %}
        <div class="progress bg-danger">
            <div class="progress-bar bg-success" role="progressbar" style="width:{{(100-(vote.up+2 - vote.down+1)/(vote.up+2)*100)|number_format(0,'.')}}%"
                 aria-valuenow="7" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    {% elseif vote.up!=null and vote.down==vote.up %}
        <div class="progress bg-danger">
            <div class="progress-bar bg-success" role="progressbar" style="width:{{50}}%"
                 aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
        </div>


    {% elseif vote.up==null and vote.down==null %}


    {% else %}
        <div class="progress bg-danger">
            <div class="progress-bar bg-success" role="progressbar" style="width:{{((vote.up+2 - vote.down+1)/(vote.up+2)*100)|number_format(0,'.')}}%"
                 aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
        </div>


    {% endif %}
    <br>

    <a href="{{ path('vote_default_index')}}"><button class="btn btn-outline-info btn-lg">{{ button_label| default ('Back') }}</button></a>
{% endblock %}
