{% extends 'baseUser.html.twig' %}

{% block title %}Vote{% endblock %}


{% block body %}

<br>
<table>
    <td>
        <h2>Vote
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        </h2>
    </td>

    <td>
        <form method="post" action="{{ path('vote_up', {'id': vote.id}) }}"
              onsubmit="return confirm('Are you sure you agree with this proposed vote?');">
            <button class="btn-success btn-lg">&nbsp&nbsp&nbsp&nbspFor&nbsp&nbsp&nbsp&nbsp&nbsp</button>
        </form>
    <td>

        <form method="post" action="{{ path('vote_down', {'id': vote.id}) }}"
              onsubmit="return confirm('Are you sure you do not agree with this proposed vote?');">
            <button class="btn-danger btn-lg">Against</button>
        </form>

</table>


<table class="table table-bordered border">
    <tbody>
    <tr class="table-active border">
        <th scope="col">Title</th>
        <td scope="row">{{ vote.title }}</td>
    </tr>
    <tr class="table-active">
        <th scope="col">Description</th>
        <td>{{ vote.description }}</td>
    </tr>
    <tr class="table-active">
        <th scope="col">Up</th>
        <td>{{ vote.up }}</td>
    </tr>
    <tr class="table-active">
        <th scope="col">Down</th>
        <td>{{ vote.down }}</td>
    </tr>

    </tbody>
</table>
<div class="progress bg-danger">
    <div class="progress-bar bg-success" role="progressbar" style="width: {{ vote.Up - vote.Down }}%"
         aria-valuenow="{{ vote.Up }} - {{ vote.Down }} " aria-valuemin="0" aria-valuemax="100"></div>
</div>


<br>

<a href="{{ path('vote_index_user') }}">
    <button class="btn btn-outline-info btn-lg">{{ button_label| default ('Back') }}</button>
</a>
<br>
<br>
<br>


        {% for comment in vote.comments %}
    <br>
        <div class="card border-info mb-3" style="max-width: 20rem;">
            <div class="card-header">{{ comment.username }}</div>
            <div class="card-body">
                <p class="card-text"> {{ comment }}</p>
            </div>
        </div>
    {% endfor %}


    {% endblock %}
