{% extends 'baseUser.html.twig' %}

{% block title %}Vote{% endblock %}

{% block body %}
    <br>
    <h2>Vote</h2>
    <br>

    <table class="table">
        <tbody>
        <tr>
            <th scope="col">Title</th>
            <td scope="row">{{ vote.Title }}</td>
        </tr>
        <tr>
            <th scope="col">Description</th>
            <td>{{ vote.Description }}</td>
        </tr>
        <tr>
            <th scope="col">Up</th>
            <td>{{ vote.Up }}</td>
        </tr>
        <tr>
            <th scope="col">Down</th>
            <td>{{ vote.Down }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('vote_up', {'id': vote.id}) }}">Up this vote</a>

    <a href="{{ path('vote_down', {'id': vote.id}) }}">Down this vote</a>

    <a href="{{ path('vote_index_user') }}">back to list</a>
{% endblock %}
