{% extends 'baseUser.html.twig' %}

{% block title %}Vote{% endblock %}

{% block body %}
    <br>
    <h2>Vote &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <a href="{{ path('vote_up', {'id': vote.id})}}"><button class="btn btn-outline-success btn-lg">{{ button_label| default ('For') }}</button></a>

        <a href="{{ path('vote_down', {'id': vote.id})}}"><button class="btn btn-outline-danger btn-lg">{{ button_label| default ('Against') }}</button></a>
    </h2>
    <div class="alert alert-dismissible alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4 class="alert-heading">Warning!</h4>
        <p class="mb-0">I'm sorry but it appears that you have voted already! <a href="#" class="alert-link">FAQ: How To Vote </a>.</p>
    </div>


    <table class="table">
        <tbody>
        <tr class="table-active">
            <th scope="col">Title</th>
            <td scope="row">{{ vote.Title }}</td>
        </tr>
        <tr class="table-active">
            <th scope="col">Description</th>
            <td>{{ vote.Description }}</td>
        </tr>
        <tr class="table-active">
            <th scope="col">Up</th>
            <td>{{ vote.Up }}</td>
        </tr>
        <tr class="table-active">
            <th scope="col">Down</th>
            <td>{{ vote.Down }}</td>
        </tr>
        </tbody>
    </table>

    <br>

    <a href="{{ path('vote_index_user')}}"><button class="btn btn-outline-info btn-lg">{{ button_label| default ('Back') }}</button></a>
    <br>
{% endblock %}
