{% extends 'base.html.twig' %}

{% block title %}ConfirmVote{% endblock %}

{% block body %}
    <h1>ConfirmVote</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ confirm_vote.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ confirm_vote.Title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ confirm_vote.Description }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ confirm_vote.Date ? confirm_vote.Date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('confirm_vote_index') }}">back to list</a>

    <a href="{{ path('confirm_vote_edit', {'id': confirm_vote.id}) }}">edit</a>

    {{ include('confirm_vote/_delete_form.html.twig') }}
{% endblock %}
