{% extends 'base.html.twig' %}

{% block title %}ConfirmVote{% endblock %}

{% block body %}
    <br>
    <h2>Show Info</h2>
    <br>

    <table class="table table-bordered">
        <tbody>
        <tr class="table-active">
            <th>Title</th>
            <td>{{ confirm_vote.title }}</td>
        </tr>
        <tr class="table-active">
            <th scope="col">Description</th>
            <td>{{ confirm_vote.description }}</td>
        </tr>
        <tr class="table-active">
            <th scope="col">Date</th>
            <td>{{ confirm_vote.Date ? confirm_vote.date|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('confirm_vote_default_index')}}"><button class="btn btn-outline-info btn-lg">{{ button_label| default ('Back') }}</button></a>


{% endblock %}
