{% extends 'baseUser.html.twig' %}

{% block title %}Vote index{% endblock %}

{% block body %}
    <br>
    <h2>Scheduled Votes</h2>
    <br>
    <table class="table table-bordered">
        <thead>
        <tr class="table-active">
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">&nbspDate</th>
            <th scope="col"> &nbsp&nbsp More</th>
        </tr>
        </thead>
        <tbody>
        {% for confirm_vote in confirm_votes %}
            <tr class="table-active">
                <td>{{ confirm_vote.title }}</td>
                <td>{{ confirm_vote.description }}</td>
                <td>{{ confirm_vote.date ? confirm_vote.Date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('confirm_vote_show_user',{'id': confirm_vote.id})}}"><button class="btn btn-outline-info btn-sm">{{ button_label| default ('More') }}</button></a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
