{% extends 'baseAdmin.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <br>
    <h2>Contact</h2>
    <br>

    <table class="table table-bordered">
        <tbody>
            <tr class="table-active">
                <th>Name</th>
                <td>{{ contact.name }}</td>
            </tr>
            <tr class="table-active">
                <th>Email</th>
                <td>{{ contact.email }}</td>
            </tr>
            <tr class="table-active">
                <th>Comment</th>
                <td>{{ contact.comment }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('contact_edit', {'id': contact.id})}}"><button class="btn btn-outline-info btn-lg">{{ button_label| default ('Edit') }}</button></a>

    <a href="{{ path('contact_index')}}"><button class="btn btn-outline-info btn-lg">{{ button_label| default ('More') }}</button></a>
{% endblock %}
