{% extends 'baseAdmin.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <br>
    <h2>Users</h2>
    <br>

    <table class="table">
        <thead>
            <tr class="table-active">
                <th>Username</th>
                <th>Roles</th>
                <th>Password</th>
                <th>&nbsp&nbspMore</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr class="table-active">
                <td>{{ user.username }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id})}}"><button class="btn btn-outline-info btn-sm">{{ button_label| default ('More') }}</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
