{% extends 'baseAdmin.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <br>
    <h2>User</h2>
    <br>

    <table class="table">
        <tbody>
            <tr class="table-active">
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr class="table-active">
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr class="table-active">
                <th>FirstName</th>
                <td>{{ user.firstName }}</td>
            </tr>
            <tr class="table-active">
                <th>LastName</th>
                <td>{{ user.lastName }}</td>
            </tr>
            <tr class="table-active">
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr class="table-active">
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr class="table-active">
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_edit',{'id': user.id})}}"><button class="btn btn-outline-info btn-lg">{{ button_label| default ('Edit') }}</button></a>
    <a href="{{ path('user_index')}}"><button class="btn btn-outline-info btn-lg">{{ button_label| default ('Back') }}</button></a>

{% endblock %}
